
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: white;
    box-shadow: 0 0 12px black inset;
}

::-webkit-scrollbar-thumb {
    background: #2c343f;
    border-radius: 3px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

.header {
    background: #2c343f29;
    position: relative;
    width: 100%;
    z-index: 1;
    top: 0;
}

.header li {
    list-style: none;
    display: inline;
}

.header a {
    text-decoration: none;
    display: inline-block;
    padding: 1.6rem 1.7rem;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 17px;
    font-weight: 700;
    line-height: 25.5px;
}

.header a:hover {
    color: black;
    background-color: white;
    font-size: 17px;
    font-weight: 700;
    line-height: 25.5px;
}

.main-section {
    margin-top: -16px;
    height: 100vh;
    width: 100%;
    background: #333c48;
}

.main-header-area {
    display: grid;
    grid-template-columns: 60vw 40vw;
    margin-top: 100px;
    gap: 30px;
}

.header-left {
    padding: 1% 15%;
    color: #63acff;
    font-size: 2.4rem;
    font-family: Montserrat;
    font-weight: 100;
    margin: 6% 0 1.8% 12%;
}

.header-center {
    position: relative;
    align-items: center;
    margin-top: 10%;
    height: 100%;
}

.header-right img {
    height: 35vw;
    width: 30vw;
}

.header-data-name {
    margin: 0 0 2.8% 0;
    font-size: 3rem;
    font-weight: 100;
}

.header-name {
    color: white;
    font-size: 4rem;
    font-weight: 700;
    margin-left: 1%;
}

.header-job {
    font-weight: bold;
    font-size: 2.4rem;
    position: absolute;
    margin-left: 1%;
    width: 18ch;
    border-right: 4px solid rgb(87, 87, 87);
    white-space: nowrap;
    overflow: hidden;
    animation: typewritter 1.5s steps(12) infinite alternate, blink 450ms infinite alternate;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.blog-list .list {
    margin: 0em 15em;
}

.list .blog {
    color: #007acc;
}

.blog a {
    text-decoration: none;
}

.blog a:hover {
    text-decoration: overline;
}

.blog img {
  max-width: 80%;
}

.blog-body {
    text-align: left;
}

@keyframes typewritter {
    from {
        width: 0ch;
    }
    to {
        width: 18ch;
    }
}

@keyframes blink {
    from {
        border-right: none;
    }
    to {
        border-right: 4px solid gray;
    }
}

.header-svg img {
    height: 60vh;
    width: 30vw;
    margin-left: 5rem;
    margin-top: -2rem;
}

.header-icons {
    margin: 25% 0 0 -17vw;
    margin-left: -6.5vw;
}

.header-icons .fab,
.far {
    color: white;
    text-decoration: none;
    margin-left: 3rem;
    border-radius: 1.5rem;
    padding: 5px;
}

.header-icons .fa-twitter:hover {
    background: #2c343f;
    color: rgb(0, 123, 255);
    box-shadow: 0 0 2rem #007bff;
}

.header-icons .fa-instagram:hover {
    background: #2c343f;
    color: #e83e8c;
    box-shadow: 0 0 2rem #e83e8c;
}

.header-icons .fa-linkedin:hover {
    background: #2c343f;
    color: #0e76a8;
    box-shadow: 0 0 2rem #0e76a8;
}

.header-icons .fa-github:hover {
    background: #2c343f;
    color: #f5f5f5;
    box-shadow: 0 0 2rem #f5f5f5;
}

.header-icons .fa-envelope:hover {
    background: #2c343f;
    color: #d44638;
    box-shadow: 0 0 2rem #d44638;
}

.header-icons .fa-youtube:hover {
    background: #2c343f;
    color: #d44638;
    box-shadow: 0 0 2rem #d44638;
}

.about-section {
    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: -200px;
}

.profile-picture {
    background: url("./img/nn.png") no-repeat;
    background-position: left;
    background-size: 450px 450px;
}

.profile-picture img {
    height: 29rem;
    width: 23.9rem;
    border-radius: 1rem;
    margin: 14% 0 0 18.5%;
    object-fit: cover;
    object-position: right;
    /* filter: grayscale(30%); */
}

.about-information {
    margin: 12% 15% 0 -17%;
    width: 90%;
}

.about-heading {
    text-align: center;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    color: rgb(44, 52, 63);
}

.about-sub-heading {
    color: #2c343f;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
}

.about-detail {
    text-align: left;
    color: #2c343f;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.about-detail q {
    color: rgb(99, 172, 255);
    font-weight: 700;
}

.about-information button {
    background-color: #2c343f;
    color: white;
    padding: 8px 25px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    border: 1px solid #2c343f;
    border-radius: 8px;
}

.about-information button:hover {
    cursor: pointer;
}

.skills-section {
    background-color: #2c343f;
    height: 140vh;
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
}

.skills-heading {
    margin-top: -150px;
    text-align: center;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 4rem;
    color: #f2f2f2;
}

.all-skills {
    display: grid;
    grid-template-columns: 30% 35% 35%;
    column-gap: 8rem;
    margin: 5%;
}

.all-skills p {
    color: white;
    margin-left: 10px;
    margin-bottom: -10px;
    font-weight: bold;
}

.html-bar {
    width: 90%;
    padding: 10px;
    background: linear-gradient(to right, #e44d26, #f16529);
    color: white;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    animation: htmlBar 2s ease-in-out;
}

.css-bar {
    width: 80%;
    padding: 10px;
    background: linear-gradient(to right, #264de4, #2965f1);
    color: white;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    animation: cssBar 2s ease-in-out;
}

.javascript-bar {
    width: 85%;
    padding: 10px;
    background: #f0db4f;
    color: #323330;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    animation: javascriptBar 2s ease-in-out;
}

.react-bar {
    width: 90%;
    padding: 10px;
    background: #61dbfb;
    color: #323330;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    animation: reactBar 2s ease-in-out;
}

.typescript-bar {
    width: 75%;
    padding: 10px;
    background: #007acc;
    color: #b3b3b3;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    animation: typescriptBar 2s ease-in-out;
}

.node-bar {
    width: 90%;
    padding: 10px;
    background: linear-gradient(to right, #3c873a, #68a063);
    color: white;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    animation: nodeBar 2s ease-in-out;
}

.express-bar {
    width: 80%;
    padding: 10px;
    background: #818181;
    color: white;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    animation: expressBar 2s ease-in-out;
}

.mongodb-bar {
    width: 80%;
    padding: 10px;
    background: #3fa037;
    color: white;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    animation: mongodbBar 2s ease-in-out;
}

.firebase-bar {
    width: 85%;
    padding: 10px;
    background: linear-gradient(to right, #ffa611, #f6820d);
    color: white;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    animation: firebaseBar 2s ease-in-out;
}

.react-native-bar {
    width: 75%;
    padding: 10px;
    background: #61dbfb;
    color: #323330;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    animation: reactNativeBar 2s ease-in-out;
}

 .header-icons .fab,
    .header-icons .far {
        margin-left: 1rem;
        font-size: 2rem;
    }

@keyframes htmlBar {
    0% {
        width: 0%;
    }
    60% {
        width: 100%;
    }
    80% {
        width: 83%;
    }
    100% {
        width: 90%;
    }
}

@keyframes cssBar {
    0% {
        width: 0%;
    }
    60% {
        width: 90%;
    }
    80% {
        width: 73%;
    }
    100% {
        width: 80%;
    }
}

@keyframes javascriptBar {
    0% {
        width: 0%;
    }
    60% {
        width: 95%;
    }
    80% {
        width: 78%;
    }
    100% {
        width: 85%;
    }
}

@keyframes reactBar {
    0% {
        width: 0%;
    }
    60% {
        width: 100%;
    }
    80% {
        width: 83%;
    }
    100% {
        width: 90%;
    }
}

@keyframes typescriptBar {
    0% {
        width: 0%;
    }
    60% {
        width: 85%;
    }
    80% {
        width: 78%;
    }
    100% {
        width: 75%;
    }
}

@keyframes nodeBar {
    0% {
        width: 0%;
    }
    60% {
        width: 100%;
    }
    80% {
        width: 83%;
    }
    100% {
        width: 90%;
    }
}

@keyframes expressBar {
    0% {
        width: 0%;
    }
    60% {
        width: 90%;
    }
    80% {
        width: 73%;
    }
    100% {
        width: 80%;
    }
}

@keyframes mongodbBar {
    0% {
        width: 0%;
    }
    60% {
        width: 90%;
    }
    80% {
        width: 73%;
    }
    100% {
        width: 80%;
    }
}

@keyframes firebaseBar {
    0% {
        width: 0%;
    }
    60% {
        width: 95%;
    }
    80% {
        width: 78%;
    }
    100% {
        width: 85%;
    }
}

@keyframes reactNativeBar {
    0% {
        width: 0%;
    }
    60% {
        width: 85%;
    }
    80% {
        width: 68%;
    }
    100% {
        width: 75%;
    }
}

.my-duty p {
    color: #63acff;
    font-size: 2rem;
    margin-left: 2rem;
    font-weight: 400;
}

.my-duty {
    color: white;
}

.my-duty ul {
    list-style: none;
}

.my-duty ul li {
    margin-bottom: 0.3rem;
}

.my-duty ul li:before {
    content: "\2714\0020";
}

.skills-right {
    margin-top: 1.7rem;
    color: white;
    font-weight: 600;
    margin-left: -11rem;
    width: fit-content;
}

.code-lines {
    color: #63acff;
    font-size: 3.5rem;
    font-weight: bolder;
    margin-left: 2rem;
}

.my-tools {
    margin-top: 3.1rem;
}

.all-icons {
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.my-tools p {
    color: #63acff;
    font-size: 2rem;
    margin-left: 2rem;
    font-weight: 400;
    text-align: left;
    margin-top: 1rem;
}

.my-tools i {
    margin: 0 1rem 0.4rem 1rem;
}

.my-tools ul {
    font-weight: 400;
    list-style: none;
}

.my-tools ul li {
    margin-bottom: 0.3rem;
}

.my-tools ul li:before {
    content: "\2714\0020";
}

.all-icons p {
    margin-left: 0;
    margin-bottom: 2rem;
}

.total-projects {
    margin-right: 8rem;
}

.projects {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 45% 45%;
}

.projects-left {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(33, 37, 41);
    padding: 2rem 0 0 15rem;
}

.projects-left h1 {
    font-size: 56px;
    font-weight: 700;
    text-align: center;
}

.projects-left p {
    line-height: 25px;
    font-size: 16px;
    font-weight: 400;
}

.projects-left a {
    text-decoration: none;
    color: #007bff;
    transition: all 0.2s ease-in-out;
}

.projects-left a:hover {
    color: rgb(0, 128, 0);
    font-size: 1.5em;
}

.projects-right img {
    height: 550px;
    margin-left: 12%;
    margin-top: -10%;
}

.my-projects {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 4%;
    margin: 0 9.5% 7% 9.5%;
}

.my-projects img {
    margin-top: 8%;
    width: 25rem;
    height: 15rem;
    border: 0.1px solid #6d6c6c;
    object-fit: fill;
    box-shadow: 0 0 15px #323232;
    transition: all 0.2s ease-in-out;
}

.my-projects img:hover {
    transform: scale(1.7);
    cursor: pointer;
}

.feedback {
    display: grid;
    grid-template-columns: 60% 40%;
    /* padding: 10%; */
}

.heading-feedback {
    color: rgb(33, 37, 41);
    font-size: 56px;
    font-weight: 700;
    text-align: center;
}

.feedback-left img {
    margin: 2% 10% 5% 10%;
    height: 85vh;
    width: 55vw;
}

.feedback-right {
    margin: 15% 10% 5% 20%;
}

.feedback-right label {
    font-weight: 700;
    color: #323330;
}

.text-center {
    text-align: center;
}

.blog-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
}

.feedback-right input,
textarea {
    outline: 0;
    border-width: 0 0 2px;
    width: 70%;
    border-color: #323330;
    margin-bottom: 10%;
    font-size: 18px;
    color: #2c343f;
    padding-bottom: 8px;
    transition: all 0.3s ease-in-out;
}

.feedback-right input:focus,
textarea:focus {
    border-color: #63acff;
    margin-top: 10px;
}

.feedback-right button {
    background-color: #2c343f;
    color: white;
    padding: 8px 25px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    border: 1px solid #2c343f;
    border-radius: 8px;
}

.feedback-right button:hover {
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2c343f;
    height: 10vh;
    width: 100vw;
    color: white;
}

.back-to-top {
    z-index: 1;
    bottom: 3%;
    right: 3%;
    position: fixed;
}

.back-to-top a {
    font-size: 3rem;
    text-decoration: none;
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c;
  border-color: #bd081c;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
  background-color: #8c0615;
  border-color: #8c0615;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293;
}

.resp-sharing-button--whatsapp {
  background-color: #25D366;
  border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
  background-color: #1DA851;
  border-color: #1DA851;
}

.resp-sharing-button--vk {
  background-color: #507299;
  border-color: #507299;
}

.resp-sharing-button--vk:hover
.resp-sharing-button--vk:active {
  background-color: #43648c;
  border-color: #43648c;
}

.resp-sharing-button--telegram {
  background-color: #54A9EB;
}

.resp-sharing-button--telegram:hover {
  background-color: #4B97D1;}


@media all and (max-width: 1600px) {
    .all-skills {
        column-gap: 7rem;
    }
    .feedback-left img {
        margin: -10% 10% 5% 10%;
    }
}

@media all and (max-width: 1550px) {
    .my-projects img:hover {
        transform: scale(1.55);
    }
}

@media all and (max-width: 1485px) {
    .header-right img {
        height: 45vw;
    }
    .header-icons {
        margin-top: 17%;
        margin-left: -6.5vw;
    }
    .header-icons .fab,
    .header-icons .far {
        margin-left: 1rem;
        font-size: 2rem;
    }
    .all-skills {
        column-gap: 5rem;
    }
    .skills-middle {
        margin-left: -10%;
    }
    .my-projects {
        column-gap: 4%;
        margin: 0 6% 7% 6%;
    }
    .my-projects img:hover {
        transform: scale(1.35);
    }
}

@media all and (max-width: 1350px) {
    .skills-section {
        margin-left: -2%;
    }
    .all-skills {
        column-gap: 4rem;
    }
    .skills-middle {
        margin-left: -11%;
    }
    .my-projects {
        column-gap: 4%;
        margin: 0 5% 7% 5%;
    }
    .my-projects img {
        width: 22rem;
        height: 13rem;
    }
    .my-projects img:hover {
        transform: scale(1.3);
    }
    .projects-left {
        padding: 2rem 0 0 5rem;
    }
    .projects-right img {
        height: 400px;
        margin-left: 12%;
        margin-top: 3%;
    }
}

@media all and (max-width: 1250px) {
    .header-right img {
        height: 55vw;
    }
    .header-icons {
        margin-top: 16%;
        margin-left: -6.5vw;
    }
    .header-icons .fab,
    .far {
        margin-left: 1rem;
        font-size: 2rem;
    }
    .profile-picture img {
        margin: 24% 0 0 18.5%;
    }
    .skills-section {
        height: 165vh;
        clip-path: polygon(0 0, 100% 0, 100% 91%, 0 100%);
    }
    .all-skills {
        display: grid;
        grid-template-columns: 55% 45%;
        column-gap: 8rem;
        margin: 5%;
    }
    .skills-right {
        margin-top: 4rem;
        margin-left: 0rem;
    }
    .total-projects {
        margin-right: 0;
    }
    .my-tools {
        width: 100vw;
        display: flex;
        flex-direction: row;
        gap: 18vw;
    }
    .all-icons {
        margin-top: -0.5%;
    }
    .all-icons p {
        margin-bottom: 7%;
    }
    .all-icons div {
        margin-left: 5%;
        width: 100%;
    }
    .my-projects {
        column-gap: 4%;
        margin: 0 5% 7% 5%;
    }
    .my-projects img {
        width: 21rem;
        height: 13rem;
    }
    .my-projects img:hover {
        transform: scale(1.25);
    }
}

@media all and (max-width: 1150px) {
    .my-tools {
        gap: 10vw;
    }
    .my-projects {
        grid-template-columns: 45% 45%;
        justify-content: center;
    }
    .my-projects img {
        width: 23rem;
        height: 15rem;
    }
    .my-projects img:hover {
        transform: scale(1.55);
    }
}

@media all and (max-width: 1050px) {
    .header-left {
        padding-left: 10%;
        padding-right: 10%;
        margin-left: 8%;
    }
    .profile-picture img {
        margin: 27% 0 0 18.5%;
    }
    .about-information {
        margin: 12% 5% 0 -10%;
        width: 100%;
    }
    .my-tools {
        gap: 2vw;
        width: 90vw;
    }
    .my-projects img {
        width: 21rem;
        height: 14rem;
    }
    .my-projects img:hover {
        transform: scale(1.4);
    }
    .projects {
        grid-template-columns: 60% 30%;
    }
    .projects-left {
        padding: 2rem 0 0 10vw;
    }
    .projects-right img {
        height: 400px;
        margin-left: 5%;
        margin-top: 10%;
    }
    .feedback {
        grid-template-columns: 50% 50%;
    }
    .feedback-left img {
        height: 70vh;
    }
    .feedback-right {
        margin: 15% 10% 5% 30%;
    }
}

@media all and (max-width: 950px) {
    .header-right {
        display: none;
    }
    .main-header-area {
        display: grid;
        grid-template-columns: 100vw 0vw;
        margin-top: 130px;
    }
    .profile-picture {
        background-size: 350px 350px;
    }
    .profile-picture img {
        margin: 40% 0 0 15.5%;
        height: 27rem;
        width: 20.9rem;
    }
    .all-skills {
        grid-template-columns: 45% 55%;
        column-gap: 6rem;
    }
    .skills-section {
        height: 170vh;
        clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
    }
    .projects-right img {
        height: 300px;
        margin-top: 40%;
    }
}

@media all and (max-width: 850px) {
    .skills-heading {
        margin-top: -5rem;
    }
    .my-projects img {
        width: 20rem;
        height: 14rem;
    }
    .my-projects img:hover {
        transform: scale(1.3);
    }
    .feedback {
        grid-template-columns: 40% 50%;
        gap: 10%;
    }
    .feedback-left img {
        height: 70vh;
        margin-top: -20%;
    }
}

@media all and (max-width: 770px) {
    .header-left {
        padding: 1% 3%;
        font-size: 2.3rem;
    }
    .main-header-area {
        margin-top: 100px;
    }
    .header-job {
        font-size: xx-large;
    }
    .about-section {
        grid-template-columns: 100%;
    }
    .profile-picture {
        background-position: center;
        margin-left: -5rem;
    }
    .profile-picture img {
        height: 29rem;
        width: 23.9rem;
        margin: 16% 0 0 30.5%;
    }
    .about-information {
        margin: 12% 15% 0 5%;
        width: 90%;
    }
    .all-skills {
        grid-template-columns: 35% 65%;
        column-gap: 4rem;
    }
    .my-projects {
        margin-left: 15px;
    }
    .my-projects img {
        width: 17.5rem;
        height: 13rem;
    }
    .my-projects img:hover {
        transform: scale(1.2);
    }
    .projects-left {
        padding: 2rem 0 0 5vw;
    }
    .projects-right img {
        height: 250px;
        margin-top: 70%;
    }
    .feedback {
        grid-template-columns: 100%;
    }
    .feedback-left {
        display: none;
    }
}

@media all and (max-width: 650px) {
    .header-left {
        padding: 1% 10%;
        font-size: 2.2rem;
        margin-left: 7%;
    }
    .header-job {
        font-size: xx-large;
    }
    .profile-picture img {
        height: 25rem;
        width: 20.9rem;
        margin: 12% 0 0 30.5%;
    }
    .about-information {
        margin: 2% 15% 0 5%;
    }
    .my-projects {
        margin-left: 20px;
    }
    .my-projects img {
        width: 16rem;
        height: 12rem;
    }
}

@media all and (max-width: 595px) {
    .header-job {
        font-size: 1.9rem;
    }
    .header-left {
        padding: 1% 8%;
        font-size: 1.8rem;
        margin-left: 5%;
    }
    .header-icons {
        margin-top: 6%;
        margin-left: -10vw;
    }
    .skills-section {
        height: 240vh;
        clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%);
    }
    .all-skills {
        grid-template-columns: 100vw;
    }
    .my-tools {
        flex-direction: column;
    }
    .all-icons {
        margin-left: 0;
    }
    .skills-left {
        margin: 0 5rem 0 1.7rem;
    }
    .skills-middle {
        margin-left: 0;
    }
    .my-projects {
        margin-left: 10px;
    }
    .my-projects img {
        width: 15rem;
        height: 11rem;
    }
    .projects {
        grid-template-columns: 100%;
    }
    .projects-left {
        padding: 2rem 5vw 0 5vw;
    }
    .projects-right {
        display: none;
    }
}

@media all and (max-width: 550px) {
    .my-projects {
        grid-template-columns: 100%;
        justify-content: center;
    }
    .my-projects img {
        width: 20rem;
        height: 14rem;
    }
    .my-projects img:hover {
        transform: scale(1.3);
    }
    .feedback-right {
        margin-left: 20%;
    }
    .feedback-right input,
    textarea {
        width: 80%;
    }
}

@media all and (max-width: 450px) {
    .header-icons {
        margin-top: 10%;
        margin-left: -13.5vw;
    }
    .header-job {
        font-size: 1.7rem;
    }
    .header-left {
        padding: 1% 4%;
        font-size: 1.5rem;
    }
    .main-header-area {
        margin-top: 60px;
    }
    .profile-picture img {
        height: 22rem;
        width: 16.9rem;
        margin: 12% 0 0 30.5%;
    }
    .header a {
        padding: 1.3rem 1.3rem;
    }
    .my-projects img:hover {
        transform: scale(1.1);
    }
    .feedback-right input,
    textarea {
        width: 90%;
    }
    .feedback-right {
        margin-left: 15%;
    }
    .blog-list .list {
        margin: 0em 2em;
    }
}

@media all and (max-width: 380px) {
    .header-name {
        font-size: 3rem;
        margin-right: 1%;
    }
}

@media all and (max-height: 830px) {
    .skills-section {
        height: 275vh;
    }
}

@media all and (max-width: 400px) {
    .skills-section {
        height: 265vh;
        clip-path: polygon(0 0, 100% 0, 100% 98%, 0 100%);
    }
    .skills-heading {
        margin-top: -2rem;
    }
    .header-icons .fab,
    .far {
        margin-left: 0.9rem;
        /* padding: 2rem; */
    }
}

@media all and (max-height: 750px) {
    .skills-section {
        height: 310vh;
    }
}

@media all and (max-height: 700px) {
    .skills-section {
        height: 370vh;
    }
    .header-icons .fab,
    .far {
        margin-left: 0.7rem;
    }
    .blog-list .list {
        margin: 0em 3em;
    }
}

@media all and (max-height: 650px) {
    .skills-section {
        height: 390vh;
    }
}

@media all and (max-height: 600px) {
    .skills-section {
        height: 450vh;
    }
}

#topbttn {
  display: inline-block;
  background-color: #221b0b;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 150px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  text-decoration: none;
  box-shadow: rgb(0 0 0 / 15%) 0px 4px 12px 0px;
}
#topbttn::after {
  content: "\f102";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#topbttn:hover {
  cursor: pointer;
  background-color: #333;
}
#topbttn:active {
  background-color: #555;
}
#topbttn.show {
  opacity: 1;
  visibility: visible;
}

.main-section {
  background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
  background-image: url(../img/bg-index.jpg);
  background-size: 120%;
  animation: Gradient 15s ease infinite;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding:0;
  margin:0px;
}
.main-section.volleyball {
    background-image: url(../img/vl-image.png);
}
.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #D7D4E4;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #FFF ;
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}
/* ================= Header ============ */
header{
  position: absolute;
  top:0%;
  left: 0%;
  width:100%;
  margin: 0;
  padding: 0;
}
/* navbar */
nav{
  color: #FFF;
  float: right;
  margin:30px 90px;
}
nav ul{
  list-style: none;
}
nav ul li {
  float: left;
  transition: .3s;
}
nav ul li a{
  text-decoration: none;
  color: #EFEEF5;
  transition: .5;
  font-size: 15px;
  margin-left:16px;
}
nav ul li:hover a{
  text-decoration: none;
  color: #591BC5;;
}
nav ul li:hover{
  height: 45px;
  padding-top: 30px;
  margin-top: -30px;
 background: #EFEEF5;
  text-decoration: none;
  transform: skew(15deg);
}
/* Logo */
.logo{
  width: 35px;
  height: 35px;
  background: #EFEEF5;
  margin: 40px 63px;
  float: left;
  transform: rotate(-30deg);
}
.logo span{
  color: #591BC5;
  font-size: 2em;
  line-height: 1.4;
  padding-left: 5px;
  font-weight: bold;
}
/* Header content & title & button*/
.header-content{
  margin-top:25%;
  text-align: center;
  color:  #EFEEF5;
}
.header-content h1{
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 1px;
}
.header-content p {
  font-size: 20px;
  line-height: 1.5;
  margin: 20px auto;
}
.header-content button{
  width: 140px;
  margin:20px 10px;
  color: #591BC5;
  font-size: 17px;
  border:1px solid #EFEEF5;
  font-weight: 500;
  background: #EFEEF5;
  border-radius: 20px;
  padding: 10px;
  cursor:pointer;
  transition: .3s;
}
.header-content button:hover{
  border-radius: 0;
}
/* Animate Background*/
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}